.--wrap { 
    padding: 0 20px;
}

.--inner {
    max-width: 1400px;
    margin: 0 auto;
}

.main {
    .sec01 {
        padding: 120px 20px;
        background-color: #ddd;

        &__title {
            h2 {
                margin-bottom: 30px;
                color: #444;
                font-size: 56px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                line-height: 28px;
            }
        }

        &__list {
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin: 0;
            padding: 0;
            
            li {
                width: calc(25% - 30px);
                list-style: none;
            }

            &--image {
                margin-bottom: 20px;

                img {
                    display: block;
                    width: 100%;
                }
            }

            &--text {
                dl {
                    dt {
                        margin-bottom: 20px;
                        color: #444;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 32px;
                    }
                    
                    dd {
                        margin: 0;
                        color: #444;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}